include _includes/bemtoo/bemto.pug
include _includes/page
include _includes/scripts
include _includes/blocks

doctype html
html(lang='ru')
	include _includes/head
	+page('page-main')
		block content
		+scripts(['app.min.js'])
